---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import getUniqueCategories from "@/utils/getUniqueCategories";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  const categories = getUniqueCategories(posts);

  return categories.map(({ category }) => ({
    params: { category },
    props: {
      category,
      posts: getSortedPosts(
        posts.filter(post => post.data.category === category)
      ),
    },
  }));
}) satisfies GetStaticPaths;

const { category, posts } = Astro.props;
---

<Layout title={`分类: ${category} | ${SITE.title}`}>
  <Header />
  <Main
    pageTitle={`分类: ${category}`}
    pageDesc={`"${category}" 分类下的所有文章`}
  >
    <ul>
      {posts.map(data => <Card {...data} />)}
    </ul>
  </Main>
  <Footer />
</Layout>
