---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueCategories from "@/utils/getUniqueCategories";
import { SITE } from "@/config";

const posts = await getCollection("blog");
const categories = getUniqueCategories(posts);
---

<Layout title={`分类 | ${SITE.title}`}>
  <Header />
  <Main pageTitle="分类" pageDesc="所有文章分类">
    <ul class="flex flex-wrap gap-6">
      {
        categories.map(({ category, count }) => (
          <li>
            <a
              href={`/categories/${category}/`}
              class="group flex items-center gap-2 text-lg font-medium hover:text-accent"
            >
              <span class="underline decoration-dashed underline-offset-4 group-hover:decoration-wavy">
                {category}
              </span>
              <span class="text-sm opacity-70">({count})</span>
            </a>
          </li>
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
