---
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE } from "@/config";
---

<Layout title={`关于 | ${SITE.title}`}>
  <Header />
  <Main>
    <div class="space-y-8">
      <div>
        <h2 class="text-xl font-semibold">
          <a
            href="https://jinshuju.net/?utm_source=oscar"
            target="_blank"
            class="hover:text-accent"
          >
            金数据
          </a>
        </h2>
        <p class="mt-2 opacity-80">人人可用的业务数据收集工具</p>
      </div>
      <div>
        <h2 class="text-xl font-semibold">
          <a
            href="https://howxm.com/?utm_source=oscar&utm_medium=blog"
            target="_blank"
            class="hover:text-accent"
          >
            浩客
          </a>
        </h2>
        <p class="mt-2 opacity-80">简单好用的用户体验分析工具</p>
      </div>
      <div>
        <h2 class="text-xl font-semibold">公众号</h2>
        <img
          src="/assets/img/wechat.jpg"
          width="250"
          height="250"
          alt="wechat"
          class="mt-4"
        />
      </div>
    </div>
  </Main>
  <Footer />
</Layout>
