---
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE } from "@/config";
---

<Layout title={`应用 | ${SITE.title}`}>
  <Header />
  <Main>
    <div class="space-y-8">
      <div>
        <h2 class="text-xl font-semibold">
          <a
            href="https://lexiclip.com?utm_source=oscar&utm_medium=blog"
            target="_blank"
            class="hover:text-accent"
          >
            Lexiclip
          </a>
        </h2>
        <p class="mt-2 opacity-80">记住单词</p>
      </div>
      <div>
        <h2 class="text-xl font-semibold">
          <a
            href="https://moviewikia.com?utm_source=oscar&utm_medium=blog"
            target="_blank"
            class="hover:text-accent"
          >
            Movie Wikia
          </a>
        </h2>
        <p class="mt-2 opacity-80">记住电影</p>
      </div>
      <div>
        <h2 class="text-xl font-semibold">
          <a
            href="https://news.oscarjiang.site"
            target="_blank"
            class="hover:text-accent"
          >
            新闻
          </a>
        </h2>
        <p class="mt-2 opacity-80">每日新闻</p>
      </div>
      <div>
        <h2 class="text-xl font-semibold">看图猜电影</h2>
        <p class="mt-2 opacity-80">微信小程序-看图猜影</p>
        <img
          src="/assets/img/guess_movie.png"
          width="200"
          alt="猜电影小程序码"
          class="mt-4"
        />
      </div>
    </div>
  </Main>
  <Footer />
</Layout>
