---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, pubDatetime, modDatetime, timezone: postTimezone } = data;

const isModified = modDatetime && modDatetime > pubDatetime;
const datetime = dayjs(isModified ? modDatetime : pubDatetime).tz(
  postTimezone || SITE.timezone
);
const formattedDate = datetime.format("YYYY/MM/DD");
---

<li class="my-4 flex items-baseline gap-4">
  <time
    class="shrink-0 text-sm tabular-nums opacity-60"
    datetime={datetime.toISOString()}
  >
    {formattedDate}
  </time>
  <a
    href={getPath(id, filePath)}
    class:list={[
      "text-lg font-medium text-accent/90 transition-colors duration-200",
      "underline-offset-4 hover:text-accent hover:underline hover:decoration-solid",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
  </a>
</li>
