---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection(
    "blog",
    ({ data }) => !data.draft && data.postType === "soccer"
  );
  return paginate(getSortedPosts(posts), { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const posts = page.data;
---

<Layout title="足球 | Oscar's Blog">
  <Header />
  <main id="main-content" data-layout="soccer" class="app-layout pt-8">
    {
      posts.length > 0 && (
        <section id="soccer-posts" class="pb-4">
          <h2 class="text-xl font-semibold tracking-wide">足球</h2>
          <ul>
            {posts.map(data => (
              <Card variant="h3" {...data} />
            ))}
          </ul>
        </section>
      )
    }
    {
      posts.length === 0 && (
        <section class="pb-4">
          <h2 class="text-xl font-semibold tracking-wide">足球</h2>
          <p class="mt-4 opacity-60">暂无文章</p>
        </section>
      )
    }
  </main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const layout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (layout === "soccer") {
      sessionStorage.setItem("backUrl", "/soccer");
    }
  });
</script>
