---
layout: page
# All the Tags of posts.
---

<div id="apps" class="">
  <h2>看图猜电影</h2>
  <p>根据电影剧照，猜电影名称，考验你的电影知识。</p>

  <a
    href="https://www.moviewikia.com/guess-image?utm_source=oscar&utm_medium=blog"
    target="_blank"
    >点击这里，迎接电影挑战之旅💪</a
  >
  <div style="margin-top: 20px">
    <img
      width="300"
      height="300"
      src="/assets/img/guess_movie.png"
      alt="看图猜电影"
      class="guess-image"
    />
  </div>

  <h2>疯狂的坦克</h2>
  <p>使用与疯狂的小鸟相同的物理引擎Box2d.</p>

  <ol>
    <li>单击游戏界面</li>
    <li>方向键控制前进后退与炮筒角度</li>
    <li>空格键发射子弹</li>
  </ol>
  <iframe
    src="/angry-tank.html"
    frameborder="0"
    width="100%"
    height="300"
    class="angry-tank"
  ></iframe>

  <h2>魔力方格</h2>
  <p>
    在规定的时间内记录方格中人的位置，并且在图像翻转后找出。格子会越来越多，好运吧！
  </p>

  <iframe
    src="/magic-grid.html"
    frameborder="0"
    width="800"
    height="600"
    class="magic-grid"
  ></iframe>
</div>
